@using Duftfinder.Domain.Helpers
@using Duftfinder.Resources
@{
    ViewBag.Title = Constants.Error;
}
<div class="duftfinder-content">
    <h2>@Resources.Error_Error</h2>
    
    <div class="margin-top-big margin-bottom">
        @{ string displayErrorMessage = $"{Resources.Error_UnexpectedError} {Resources.Error_TryAgainLater} "; }
        @if (!string.IsNullOrEmpty(@Model.Exception.Message))
        {
            <label>@displayErrorMessage</label>
        }
    </div>
</div>