@using System.Web.Optimization
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model string

@{ string disabled = string.IsNullOrEmpty(Model) ? "disabled" : ""; }
<div id="subnavigation">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                @* Show "Create" or "Edit" *@
                @if (string.IsNullOrEmpty(Model))
                {
                    @Html.ActionLink(Resources.EssentialOil_Create, nameof(EssentialOilController.CreateOrEdit), new {id = Model }, new { id = "create-or-edit-subnavigation-item", @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink(Resources.EssentialOil_Edit, nameof(EssentialOilController.CreateOrEdit), new {id = Model}, new { id = "create-or-edit-subnavigation-item", @class = "navbar-brand " + disabled })
                }
                @Html.ActionLink(Resources.EssentialOil_AssignMolecule, nameof(EssentialOilController.AssignMolecule), new {id = Model}, new { id = "assign-molecule-subnavigation-item", @class = "navbar-brand " + disabled })
                @Html.ActionLink(Resources.EssentialOil_AssignEffect, nameof(EssentialOilController.AssignEffect), new {id = Model}, new { id = "assign-effect-subnavigation-item", @class = "navbar-brand " + disabled })
            </div>
        </div>
    </div>
</div>
