@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.SearchEffectsViewModel

@{
    ViewBag.Title = nameof(SearchEffectsController.Index);
}

@section Scripts
{
    <script src="/js/Slider.js"></script>
    <script src="/js/Autocomplete.js"></script>
    <script src="/js/SearchEffects.js"></script>
}

<div id="search-effects" class="duftfinder-content">

    @* The PartialView for the search. *@
    @Html.Partial("_Search", Model)
</div>