<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- The mongoDB name & connection string: mongodb://[username:password@]host[:port][/[database]-->
        <!-- Test database is from ScentFinder in AppHarbors -->
        <add key="mongoDatabaseName" value="appharbor_gw1qstqk" />
        <add key="mongoConnectionString" value="mongodb://admin:tfuD1820@ds133296.mlab.com:33296/appharbor_gw1qstqk" />
        <!-- Real connection string is:
        mongodb://appharbor_gw1qstqk:s9stetaa5873ih4idjb8mv7ap6@ds133296.mlab.com:33296/appharbor_gw1qstqk
        -->
    </appSettings>
</configuration>