@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.LoginViewModel

@{
    ViewBag.Title = nameof(AccountController.ChangeOrResetPasswordConfirmation);
}

<div id="change-reset-password-confirmation" class="duftfinder-content">
    <h2>@Resources.Account_ChangeOrResetPasswordConfirmation</h2>

    <div class="margin-top-big margin-bottom">
        <label>@Resources.Account_ChangeOrResetPasswordConfirmationText</label>
        <a href="@Url.Action("Login", "Account", new {email = Model.Email})">@Resources.Account_ChangeOrResetPasswordConfirmationTextLogin</a>
    </div>
</div>