@using Duftfinder.Resources
@using Duftfinder.Web.Controllers

@{
    ViewBag.Title = nameof(AccountController.ForgotPasswordConfirmation);
}
<div id="forgot-password-confirmation" class="duftfinder-content">
    <h2>@Resources.Account_ForgotPasswordConfirmation</h2>
    
    <div class="margin-top-big margin-bottom">
        <label>@Resources.Account_ForgotPasswordConfirmationText</label>
    </div>
</div>
