@using Duftfinder.Resources
@model Duftfinder.Web.Models.ConfirmationViewModel

@* Generic modal dialog for all kinds of notifications. *@
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="dialog-modal-label">@Model.DialogTitle</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @string.Format(Model.DialogText, Model.Name)
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Action_Ok</button>
        </div>
    </div>
</div>