@using System.Web.Optimization
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.SearchEffectsViewModel

@{
    ViewBag.Title = nameof(SearchEffectsController.Index);
}

@section Scripts
{
    @Scripts.Render("~/bundles/sliders")
    @Scripts.Render("~/bundles/autocomplete")
    @Scripts.Render("~/bundles/searchEffects")
}

<div id="search-effects" class="duftfinder-content">
    
    @* The PartialView for the search. *@
    @Html.Partial("_Search", Model)
</div>

