@using System.Web.Optimization
@using Duftfinder.Resources
@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.SearchEssentialOilViewModel

@{
    ViewBag.Title = nameof(SearchEssentialOilController.Index);
}

@section Scripts
{
    @Scripts.Render("~/bundles/sliders")
    @Scripts.Render("~/bundles/autocomplete")
    @Scripts.Render("~/bundles/searchEssentialOil")
}

<div id="search-essential-oil" class="duftfinder-content">
    
    @* The PartialView for the search. *@
    @Html.Partial("_Search", Model)
</div>