@using Duftfinder.Web.Controllers
@model Duftfinder.Web.Models.SearchEssentialOilViewModel

@{
    ViewBag.Title = nameof(SearchEssentialOilController.Index);
}

@section Scripts
{
    <script src="/js/Slider.js"></script>
    <script src="/js/Autocomplete.js"></script>
    <script src="/js/SearchEssentialOil.js"></script>
}

<div id="search-essential-oil" class="duftfinder-content">

    @* The PartialView for the search. *@
    @Html.Partial("_Search", Model)
</div>