body {
    color: #262626;
    font-family: "Montserrat", sans-serif, "google";

    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 410px; }

input.small-area { max-width: 100px; }

textarea { resize: none; }

/* General stuff for loader */

.loader {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    border: 5px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 5px solid #027bc5; /* Blue */
    height: 30px;
    width: 30px;
}

/* Safari */

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}

/* STYLE CUSTOMIZATION
----------------------------------------------------------*/

h2 { text-transform: uppercase; }

a { color: #027bc5; }

a:hover {
    color: #4e1a48;
    text-decoration: none;
}

.btn { min-width: 100px; }

.btn-primary {
    background-color: #4e1a48;
    border-color: #baa1d1;
}

.btn-primary:hover {
    background-color: #baa1d1;
    border-color: #baa1d1;
}

.btn-secondary {
    background-color: #41b217;
    border-color: #41b217;
}

.btn-secondary:hover {
    background-color: #262626;
    border-color: #41b217;
}

.btn.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

input[type="checkbox"].disabled { opacity: 0.5; }

/* GENERAL
----------------------------------------------------------*/

.margin-left { margin-left: 20px; }

.margin-right { margin-right: 20px; }

.margin-top { margin-top: 20px; }

.margin-bottom { margin-bottom: 20px; }

.margin-left-big { margin-left: 50px; }

.margin-right-big { margin-right: 50px; }

.margin-top-big { margin-top: 50px; }

.margin-bottom-big { margin-bottom: 50px; }

.margin-left-small { margin-left: 10px; }

.margin-right-small { margin-right: 10px; }

.margin-top-small { margin-top: 10px; }

.margin-bottom-small { margin-bottom: 10px; }

.td-small { width: 130px; }

.bold { font-weight: bold; }

.error { color: red; }

.disabled {
    color: #6c757d;
    pointer-events: none;
}

.disabled-input { background-color: #e6e9ec; }

.display-none { display: none !important; }

.highlight-input { background-color: #b3d7ed; }

.italic { font-style: italic; }

.row-indention { padding-left: 50px !important; }

.duftfinder-content { min-height: 500px; }

/* LAYOUT PAGE
----------------------------------------------------------*/

#icon-container { background-color: #fff; }

#icon-dragon-fly {
    background-color: #fff;
    margin-left: -15px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 6px;
}

.navbar .container {
    background-color: #4e1a48;
    padding: 0;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
}

.navbar-header a {
    color: #fff;
    margin-left: 5px;
}

.navbar-header a:hover { color: #027bc5; }

footer {
    background-color: #262626;
    color: #fff;
    font-family: "PT Sans", sans-serif, "google";
    padding-bottom: 21px;
    padding-top: 21px;
}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}

#configuration-icon { color: #fff; }

/* SUBNAVIGATION
----------------------------------------------------------*/

#subnavigation .navbar {
    padding-left: 0;
    padding-right: 0;
}

#subnavigation .navbar .container {
    background-color: #fff;
    margin-top: -20px;
    padding: 0;
}

#subnavigation .navbar .container a.disabled { color: #6c757d !important; }

#configuration-icon.active,
.navbar-header .active,
#subnavigation .navbar-header .active { color: #027bc5; }

#subnavigation .navbar-brand {
    color: #027bc5;
    text-transform: uppercase;
}

#subnavigation .navbar-header a { color: #4e1a48; }

#subnavigation .navbar-header a:hover { color: #027bc5; }

/* MODAL DIALOGS
----------------------------------------------------------*/

/* Fix to align close sign with title. */

.modal-header .close { margin-top: -20px !important; }

/* SLIDERS
----------------------------------------------------------*/

.slider-handle { background: #41b217; }

/* AUTOCOMPLETE
----------------------------------------------------------*/

/* Highligt color for autocomplete. */

.autocomplete-highlight { background: #9ec4ea; }

/* FILE UPLOAD INPUTS
----------------------------------------------------------*/

/* Workaround for file upload. The fake-file div is used to customize the upload-file-input field. 
   The upload-file-input is set in background, as the "Choose file" text cannot be customized. 
   The fake-file is an overlay for the upload-file-input. */

div.file-inputs { position: relative; }

div.fake-file {
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

#fake-file-input {
    background-color: inherit;
    display: inline;
    width: 280px;
}

input.file {
    -moz-opacity: 0;
    cursor: pointer;
    filter: alpha(opacity: 0);
    height: 39px;
    max-width: 410px;
    opacity: 0;
    position: relative;
    text-align: right;
    width: 410px;
    z-index: 2;
}

/* ESSENTIAL OIL, EFFECT, MOLECULE
----------------------------------------------------------*/

#essential-oil-form #picture-container {
    max-height: 400px;
    max-width: 700px;
}

/* Position loader. */

#essential-oil-form #loader-container {
    display: inline;
    margin: 5px;
    position: absolute;
}

.textarea-noborder {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

#assign-essential-oil-form #effect label,
#assign-effect-form #essential-oil label,
#assign-molecule-form #essential-oil label
#assign-molecule-form #effect label { display: inline; }

#assign-molecule-form .molecule-percentage { width: 220px; }

/* SEARCH ESSENTIAL OIL
----------------------------------------------------------*/

#search-essential-oil-container #search-essential-oil-text,
#search-essential-oil-container #search-essential-oil-text-container,
#search-essential-oil-container #search-essential-oil-button-container { display: inline; }

#search-essential-oil-container #search-essential-oil-text {
    max-width: 500px;
    width: 100%;
}

#search-essential-oil h5 { color: #4e1a48; }

#search-essential-oil th { color: #4e1a48; }

/* Special styles for smaller devices. */

/*@media (max-width: 767px) {*/

@media (max-width: 991px) {
    /* Adds margin to search button, when line break on smaller devices. */
    #search-essential-oil-button {
        margin-left: 0;
        margin-top: 10px;
    }

    #reset-search-essential-oil-button { margin-left: 15px; }

    #search-essential-oil-text { max-width: 260px !important; }
}

.picture-popup {
    position: absolute;
    display: none;
    position: fixed;
    right: 35%;
    top: 50%;
    transform: translateY(-20%);
    border: 0.2em solid lightblue;
}
/* SEARCH EFFECTS
----------------------------------------------------------*/
#search-effects-container .form-control {
    display: inline;
}

#search-effects-container .slider.slider-horizontal { margin-top: 7px; }

#search-effects-container #search-effects-button-container { display: inline; }

#search-essential-oil-text-container .clear-search-inputs,
#search-effects-container .clear-search-inputs {
    min-width: 30px !important;
    padding: 2px;
}

/* Position loader in center of div. */

#search-essential-oil #loader-container,
#search-effects #loader-container {
    left: 50%;
    margin-left: -17px;
    position: relative;
}

#search-effects h5 {
    display: inline;
    vertical-align: middle;
}

#search-effects #search-result-filter .active {
    background-color: #4e1a48;
    border-color: #baa1d1;
}

#search-effects #match-amount { text-align: center; }

#search-effects .match-independent-progress-bar-container { max-width: 300px; }

#search-effects .match-independent-progress-bar { background: #41b217; }

/* Special styles for smaller devices. */

@media (max-width: 991px) {
    #search-effects-container .slider { max-width: 170px; }
}

@media (max-width: 767px) {
    #search-effects-container .slider { max-width: 120px; }

    #search-effects .match-independent-progress-bar-container { max-width: 100px; }

    #search-effects #weighted-match-value-label { max-width: 80px; }
}

/* ESSENTIAL OIL DETAILS
----------------------------------------------------------*/

#essential-oil-details .title {
    color: #4e1a48;
    text-transform: uppercase;
}

#essential-oil-details #picture-container {
    max-height: 400px;
    max-width: 540px;
}

/* Picture width for picture on small devices. */

#essential-oil-details #picture-container-small-device { max-width: 300px; }

#essential-oil-details #col-right { float: right; }

/* Align picture & picture source text to right */

#essential-oil-details #picture-source label,
#essential-oil-details #picture-container { float: right; }

/* All .row children of #col-left */

#essential-oil-details #col-left > .row { margin-right: 20px; }

#essential-oil-details .effect-degree,
#essential-oil-details .molecule-percentage { text-align: center; }

/* USER ADMIN
----------------------------------------------------------*/

#user-admin-form .form-check-input {
    height: 20px;
    margin-left: 0 !important;
    margin-top: -2px;
    width: 20px;
}

#user-admin-form .form-check-label { padding-left: 0 !important; }

.disabled input[type="checkbox"] { opacity: 0.5; }

/* CONFIGURATION
----------------------------------------------------------*/

#configuration-form #configuration-description-container { max-width: 440px; }